* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px red solid;
}

body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 2fr 10fr 1fr;
}

.game-board {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 2rem;
}

.game-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board-container {
    width: 80%;
    height: 80%;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.player-one, .player-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}