* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px red solid; */
}

@font-face {
    font-family: "Rebellion squad font";
    src: url(rebellion_squad_fonts/RebellionSquad-ZpprZ.ttf)
}

@font-face {
    font-family: "SuperSense";
    src: url(rebellion_squad_fonts/SuperSense-lxpBX.ttf)
}

body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 3fr 10fr 1fr;
    font-family: "SuperSense";
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.2rem, 1.5vw, 3rem);
    gap: 1rem;
    text-align: center;
    background-color: #08090A;
    color: #FCEADE;
}

.header-text {
    font-size: clamp(2.5rem, 4.5vw, 5rem);
    font-weight: 800;
}

.game-board {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    padding: 1vw 3vw;
    background-color: #508991;
}

.game-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.board-container {
    width: clamp(10rem, 25vw, 50vw);
    height: clamp(10rem, 25vw, 50vw);
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    font-family: "Rebellion squad font";
}

.player-one, .player-two {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.2rem #FCEADE solid;
    color: #FCEADE;
    border-radius: 20%;
    font-size: max(1.5rem, 4vw);
    --size: clamp(10rem, 25vw, 50vw);
    box-shadow: calc(var(--size) * 0.02) calc(var(--size) * 0.03) calc(var(--size) * 0.02) calc(var(--size) * 0.001) rgba(0, 0, 0, 0.479);
}

.box:active {
    box-shadow: none;
}

.player-container {
    width: max(5rem, 70%);
    height: 50%;
    display: grid;
    gap: 1rem;
    padding: 0.5vw;
    border: 0.2rem black solid;
    border-radius: 0.5rem;
    text-align: center;
    background-color: hsl(0, 73%, 69%);
    background-color: #A63D40;

}

.name, .token, .wins {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: max(1rem, 4vw);
    color: #FCEADE;
}

.name {
    font-size: max(1rem, 2.5vw);
    font-weight: 800;
    text-transform: capitalize;
}

.token, .wins {
    font-weight: 500;
}

.token {
    font-family: "Rebellion squad font";
}

.game-round {
    font-size: clamp(1.2rem, 1.5vw, 3rem);
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 0.2rem white solid;
    outline: 0.1rem black solid;
    text-align: center;
}

.restart {
    font-family: "SuperSense";
    font-size: clamp(1.2rem, 1.5vw, 3rem);
    font-weight: 700;
    padding: 0.2rem 1.5rem;
    border-radius: 0.3rem;
    border: 0.2rem white solid;
    outline: 0.1rem black solid;
}

dialog {
    inset: 0;
    margin: auto;
    padding: 2rem 1rem 1rem;
    width: max(15rem, 30%);
    height: max(10rem, 20%);
    border-radius: 0.5rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

input, form > button {
    height: 30%;
    padding: 0 1rem;
    border: 0.15rem black solid;
    border-radius: 0.3rem;
    font-family: "SuperSense";
    font-size: clamp(1.5rem, 2.5vw, 3rem);
}

form > button {
    width: 70%;
    align-self: center;
    font-size: clamp(1.2rem, 1.5vw, 3rem);
}

