* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px red solid;
}

body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 2fr 10fr 1fr;
}

.game-board {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, auto);
    padding: 1vw 3vw;
}

.game-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.board-container {
    width: clamp(10rem, 30vw, 50vw);
    height: clamp(10rem, 30vw, 50vw);
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player-one, .player-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}